@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background 0.3s;
}
.title {
  @apply text-2xl font-bold mb-6;
}

.card {
  @apply bg-gray-800 p-4 rounded-xl border border-gray-700 
  hover:scale-105 transition;
}

.input {
  @apply bg-gray-800 p-2 rounded w-full;
}

.btn {
  @apply bg-yellow-400 text-black px-4 rounded;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.btn {
  border-radius: 12px;
  padding: 8px 12px;
  transition: 0.2s;
}
@keyframes pulse {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}